<div class="container">
  <div class="container-fluid">
    <mat-card>
      <h2>Enter new User</h2>
      <form [formGroup]="addUserForm" (ngSubmit)="this.saveUser()">
        <mat-form-field>
          <input matInput placeholder="ID" formControlName="id" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>
        <br />
        <mat-form-field>
          <input matInput placeholder="Admin" formControlName="admin" />
        </mat-form-field>
        <br />
        <button [disabled]="!addUserForm.valid" mat-raised-button type="submit">
          Add User
        </button>
      </form>
    </mat-card>
    <mat-card>
      <h2>List of new Users</h2>
      <ng-container *ngFor="let user of users">
        {{ user.id }} - {{ user.name }} - {{ user.password }} - {{ user.admin}}<br />
      </ng-container>
    </mat-card>
    <mat-card>
      <h2>List of registered Users</h2>
      <ng-container *ngFor="let user of usersTyped">
        {{ user.id }} - {{ user.name }} - {{ user.password }} - {{ user.admin}}<br />
      </ng-container>
    </mat-card>
  </div>
</div>

<!-- <div class="main-content">
    <div class="container-fluid">
        <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
        </ng-container>    
    </div>
</div> -->

<!-- <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-success">
              <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                  <span class="nav-tabs-title">Active Users</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="profile">
                  <table class="table">
                    <tbody>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                          </label>
                        </div>
                      </td>
                      <td >Guidline 1: This is a Test."</td>
                      <td class="td-actions text-right">
                        <button>
                          <i>check</i>
                        </button>
                        <button>
                          <i>close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                          </label>
                        </div>
                      </td>
                      <td>Guidline 2: This is another Test.</td>
                      <td class="td-actions text-right">
                        <button>
                          <i>check</i>
                        </button>
                        <button>
                          <i>close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="">
                            <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                          </label>
                        </div>
                      </td>
                      <td>Guidline 3: Yet another Test.</td>
                      <td class="td-actions text-right">
                        <button>
                          <i>check</i>
                        </button>
                        <button>
                          <i>close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" value="" checked>
                            <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                          </label>
                        </div>
                      </td>
                      <td>Guidline 4: Could you stop testing please.</td>
                      <td class="td-actions text-right">
                        <button>
                          <i>check</i>
                        </button>
                        <button>
                          <i>close</i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button mat-raised-button color="primary" (click)="getUsers()">Update Users</button>
      </div>
      <h1>Anguar http POST request example</h1>
      <div class="card">
        <h2>Enter id, name, password and if admin.</h2>
        <div class="card">
          <h2>Enter name and job</h2>
          <form [formGroup]="addUserForm" (ngSubmit)="saveUser()">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input matInput placeholder="Job" formControlName="job" />
            </mat-form-field>
            <br />
            <button [disabled]="!addUserForm.valid" mat-raised-button type="submit">
              Add User
            </button>
          </form>
        </div>
        <div class="card">
          <h2>List of Users</h2>
          <ng-container *ngFor="let user of users">
            {{ user.name }} - {{ user.job }}<br />
          </ng-container>
        </div>
        <h2>List of Users</h2>
        <ng-container *ngFor="let user of users">
          {{ user.name }} - {{ user.job }}<br />
        </ng-container>
      </div>
    </div>
  </div> -->
  
