<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Your Studies:</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table">
                  <tbody>
                  <tr class="study-table">
                    <td><strong>Study Name</strong></td>
                    <td class="status">Status:  Running</td>
                    <td class="status">Users finished: 3/4</td>
                  </tr>
                  <tr class="study-table">
                    <td><strong>Study Name</strong></td>
                    <td class="status">Status:  Running</td>
                    <td class="status">Users finished: 3/4</td>
                  </tr>
                  <tr class="study-table">
                    <td><strong>Study Name</strong></td>
                    <td class="status">Status:  Running</td>
                    <td class="status">Users finished: 3/4</td>
                  </tr>
                  <tr class="study-table">
                    <td><strong>Study Name</strong></td>
                    <td class="status">Status:  Running</td>
                    <td class="status">Users finished: 3/4</td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-10 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-warning">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <span class="nav-tabs-title">Your Assigned Studies:</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table">
                  <tbody>
                  <tr class="study-table finished-study">
                    <td><strong>Finished Study</strong></td>
                    <td class="status">Due: January 16, 2024</td>
                    <td class="status">By: StudyOwner</td>
                    <td class="status">Open</td>
                  </tr>
                  <tr class="study-table">
                    <td><strong>Study Name</strong></td>
                    <td class="status">Due: January 23, 2024</td>
                    <td class="status">UBy: StudyOwner</td>
                    <td class="status">Open</td>
                  </tr>
                  <tr class="study-table">
                    <td><strong>Study Name</strong></td>
                    <td class="status">Due: January 23, 2024</td>
                    <td class="status">By: StudyOwner</td>
                    <td class="status">Open</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
