.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed */
  background-color: #f0f0f0; /* Smooth background color */
}

.card {
  width: 500px;
  max-width: 90%; /* Responsive design */
  padding: 20px;
}

mat-card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-link {
  margin-top: 20px;
  text-align: center;
}

.register-link a {
  color: #007bff; /* Link color */
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.login-link {
  margin-top: 20px;
  text-align: center;
}

.login-link a {
  color: #007bff; /* Link color */
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}
