.title {
  padding-top: 2rem;
  padding-left: 1em;
  font-size: 2rem;
  font-weight: 600;
}
.requirements-name {
  width: 100%;
}
.fail-button {
  color: #FFFFFF;
  background-color: red;
  width: 100%;
}

.success-button {
  color: #FFFFFF;
  background-color: limegreen;
  width: 100%;
}
